header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.inventor-card {
    border: 2px solid black;
    background: lightgray;
    padding: 2rem;
    margin:2rem;
    max-width: 20rem;
}

.inventor-cards {
    display: flex;
    flex-direction: row;
}

.inventors-button {
    margin: 2rem;
}